.post {
  height: 10%;
  width: 98%;
  margin: 1%;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: transparent;
}

.post-heading {
  color: white;
}

.post-info {
  color: lightgrey;
}

.padding {
  padding: 2%;
}
